* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #222;
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.links a:hover {
  color: #f00;
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.post {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.post h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  padding: 8px 15px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.read-more:hover {
  background-color: #555;
}

/*subscribe and footer css*/

.subscribe-section {
  margin-top: 50px;
  background-color: #eee;
  padding: 50px;
  text-align: center;
}

.subscribe-section h2 {
  margin-bottom: 20px;
}

.subscribe-section p {
  font-size: 18px;
  margin-bottom: 30px;
}

.subscribe-form input[type="email"]{
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  width: 250px;
  font-size: 16px;
}

.subscribe-form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #555;
}

footer {
  background-color: #222;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

footer p {
  font-size: 14px;
}